.parent {
    width: 50%;
    border: solid 1px;
}

.text {
   width: 100%;
   padding: 30px;
   border: dashed green 3px ;
   box-sizing: border-box;
}

.columns {
    width: 100%;
    height: 200px;
    border: solid 1px;
}

.first {
    float: left;
    width: 30%;
}

.second {
    width: 30%;
    float: left;
}

.third {
    float: right;
    width: 30%;
}

.column {
    border: solid 1px;
}

.styled-text {

    width: 200px;

    font: italic bold 48px/100px Arial;

}
© 2022 GitHub, Inc.
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About





/* Desktop - 1 */

position: relative;
width: 1440px;
height: 1024px;

background: #FFFFFF;


/* Rectangle 1 */

position: absolute;
width: 1440px;
height: 141px;
left: 0px;
top: 0px;

background: #888888;


/* Зарегистрироваться */

position: absolute;
width: 272px;
height: 43px;
left: 1168px;
top: 55px;

font-family: Roboto;
font-style: normal;
font-weight: 800;
font-size: 24px;
line-height: 28px;

color: #FFFFFF;



/* Помощь */

position: absolute;
width: 155px;
height: 43px;
left: 885px;
top: 54px;

font-family: Roboto;
font-style: normal;
font-weight: 800;
font-size: 24px;
line-height: 28px;
text-decoration-line: underline;

color: #FFFFFF;



/* О нас */

position: absolute;
width: 121px;
height: 30px;
left: 1047px;
top: 55px;

font-family: Roboto;
font-style: normal;
font-weight: 800;
font-size: 24px;
line-height: 28px;

color: #FFFFFF;



/* Магазин */

position: absolute;
width: 312px;
height: 50px;
left: 200px;
top: 41px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 56px;

color: #FFFFFF;



/* OpROPHYqWmrMDBFMZtKF 1 */

position: absolute;
width: 83px;
height: 88px;
left: 79px;
top: 26px;



/* Combined-Shape */

position: absolute;
left: 0%;
right: 0.19%;
top: 12.5%;
bottom: 13.15%;

background: #FFFFFF;


/* Line 1 */

position: absolute;
width: 1440px;
height: 0px;
left: 0px;
top: 185px;

border: 1px solid #888888;
transform: rotate(0.04deg);


/* В течение всего месяца скидка на все товары 50% */

position: absolute;
width: 430px;
height: 21px;
left: 393px;
top: 153px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
/* identical to box height */
text-align: center;

color: #888888;



/* Начать покупки */

position: absolute;
width: 135px;
height: 21px;
left: 885px;
top: 153px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
/* identical to box height */
text-align: center;
text-decoration-line: underline;

color: #888888;

